<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ptsiogas4.securebox">

    <application>

        <provider
                android:name="com.ptsiogas4.securebox.SecureBoxContentProvider"
                android:authorities="${applicationId}.SecureBoxContentProvider" />
    </application>
</manifest>
